.container {
    display: flex;
    gap: 100px;
    padding: 50px 0;
}

.textContainer {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 40px;
    justify-content: center;
    width: 100px;
}

.aboutText {
    color: var(--btn);
    font-weight: bold;
    text-transform: capitalize;
    font-size: 20px;
}

.aboutHeader {
    font-size: 50px;
    color: #efefef;
}

.aboutDesc {
    font-size: 15px;
    color: #cfcfcf;
    line-height: 20px;
    letter-spacing: 1px;
    text-align: justify;
}

.cardContainer {
    display: flex;
    gap: 10px;
    justify-content: space-between;
    flex-wrap: wrap;
}

.card {
    /* border: 1px solid red; */
    padding: 5px;
}

.cardHeader {
    color: var(--btn);
    font-weight: bold;
    font-size: 26px;
    margin-bottom: 7px;
}

.cardText {
    font-size: 15px;
    color: #cfcfcf;
}

.imgContainer {
    flex: 1;
    position: relative;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

@media screen and (max-width: 1024px) {
    .aboutHeader {
        font-size: 45px;
        text-align: center;
    }

    .imgContainer {
        display: none;
    }
}

@media screen and (max-width: 550px) {
    .aboutHeader {
        font-size: 29px;
        text-align: center;
    }

    .cardContainer {
        gap: 0px;
    }

    .card {
        text-align: center;
    }
}