.container {
  display: flex;
  gap: 20px;
}

.textContainer {
  flex: 1;
  display: flex;
  flex-direction: column;
  gap: 40px;
}

.header {
  font-size: 80px;
  text-transform: capitalize;
}

.buttonsContianer {
  display: flex;
  gap: 15px
}

.button {
  padding: 15px 18px;
  border: none;
  border-radius: 5px;
  text-transform: capitalize;
  cursor: pointer;
}

.button:first-child {
  background: var(--btn);
  color: var(--text)
}

.brandsContainer {
  position: relative;
  width: 500px;
  height: 50px;
}

.imgContainer {
  flex: 1;
  position: relative;
}