.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
}

.container>*:first-child {
    font-weight: bold;
}

.container>*:last-child {
    font-size: small;
    color: #aaa;
}

@media screen and (max-width: 450px) {
    .container {
        flex-direction: column;
        height: 50px;
    }
}